body {
  font-family: "New Tegomin", serif;
  font-weight: 400;
  line-height: 20px;
  background-color: rgb(240, 236, 236);
  display: block;
  margin: 10px;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 30px;
  text-transform: capitalize;
}

h3 {
  font-size: 25px;
  margin-bottom: -100px;
}
li {
  position: relative;
  top: -40px;
  bottom: 250px;
  right: 40px;
  text-align: right;
  list-style-type: none;
}
a {
  text-decoration: none;
}
hr {
  margin: auto;
}

.border {
  border-radius: 25px;
  display: block;
  margin: 90px auto;
  margin-bottom: 20px;
  max-width: 900px;
  padding: 30px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  background: rgb(248, 245, 239);
}

.search-bar {
  display: block;
  margin: 30px auto;
}

.btn {
  background-color: skyblue;
  margin-left: 25px;
}

#search-btn {
  margin-right: 25px;
}
#current-location-button {
  margin-left: 40px;
  margin-right: auto;
  margin: fixed;
}

#min {
  font-size: 25px;
  margin: 0;
  position: relative;
  top: -260px;
  float: left;
  bottom: 250px;
}
#max {
  font-size: 25px;
  margin: 0;
  position: relative;
  top: -200px;
  float: left;
  bottom: 250px;
}

.btn-group {
  display: inline-flex;
  position: relative;
  bottom: 50px;
}

.week {
  margin-top: 10px;
  position: relative;
  margin-bottom: 20px;
  left: -70px;
  width: auto;

  box-sizing: border-box;
}
.col {
  padding-right: 12px;
  margin: 12px auto;
}
.rain,
.cloudy,
.thunder,
.sunny,
.foggy {
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}

.github-link,
.creator {
  display: block;
  margin: auto;
  padding: auto;
  text-align: center;
  font-size: medium;
  font-weight: 300;
}
.github-link {
  color: rgb(5, 135, 186);
}
